attrs==23.1.0; python_version >= '3.7'
jsonschema==4.19.0; python_version >= '3.8'
jsonschema-specifications==2023.7.1; python_version >= '3.8'
referencing==0.30.2; python_version >= '3.8'
rpds-py==0.9.2; python_version >= '3.8'
